{% load staticfiles %}

<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Search{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'common/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'common/bootstrap/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'common/kabbage/css/main.css' %}">
        {% block extra-head-tags %}{% endblock %}
    </head>
    <body>


        {% block content %}{% endblock %}

        <script src="{% static 'common/jquery/js/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'common/angularjs/js/angular.min.js' %}"></script>
        <script src="//code.angularjs.org/1.3.14/angular-sanitize.js"><</script>
        <script src="{% static 'common/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'common/kabbage/js/app.js' %}"></script>
        <script src="{% static 'common/kabbage/js/controllers.js' %}"></script>
        <script src="{% static 'common/kabbage/js/services.js' %}"></script>
        {% block extra-script-tags %}{% endblock %}
    </body>
</html>
