{% load staticfiles %}

<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Search{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'common/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'common/bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'common/kabbage/css/main.css' %}">
        {% block extra-head-tags %}{% endblock %}
    </head>
    <body>


        {% block content %}{% endblock %}

        <script src="{% static 'common/bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'common/bower_components/angularjs/angular.min.js' %}"></script>
        <script src="{% static 'common/bower_components/angular-sanitize/angular-sanitize.min.js' %}"><</script>
        <script src="{% static 'common/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'common/kabbage/js/app.js' %}"></script>
        <script src="{% static 'common/kabbage/js/controllers.js' %}"></script>
        <script src="{% static 'common/kabbage/js/services.js' %}"></script>
        {% block extra-script-tags %}{% endblock %}
    </body>
</html>
