#main-container {
	padding-top: 20px;
}

.logout-button{
	margin-top: 8px;
}
<<<<<<< HEAD
=======

.provider-name{
	text-align: center;
	background: -webkit-linear-gradient(#FFFFFF, #DDE0EC);
	background: -o-linear-gradient(#FFFFFF, #DDE0EC);
	background: -moz-linear-gradient(#FFFFFF, #DDE0EC);
	background: linear-gradient(#FFFFFF, #DDE0EC);
	padding: 10px;
	border-radius: 4px;
}
>>>>>>> split_develop_and_production_settings
