{% extends "common/base.html" %}

{% load account %}

{% block content %}

<div class="container" id="main-container">
  <div class="col-md-8 col-md-offset-1">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
          </button>
          <a class="navbar-brand" href="{% url 'api_search:index' %}">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'api_search:index' %}">
            <div class="form-group">
              <input name="search" type="text" class="form-control" placeholder="Search">
              <input type="hidden" name="latitude" id="latitude" disabled="disabled">
              <input type="hidden" name="longitude" id="longitude" disabled="disabled">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
          <div class="">
          <label class="radious-search-label"><input name="search-near" type="checkbox" class="radious-search-input" id="search-near">Search around 100 miles</label>
          </div>
        </div>
      </div>
    </nav>
  </div><!-- col-md -->
  <div class="col-md-2">
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger logout-button">Sign Out</button>
    </form>
  </div>
</div><!-- container -->

<div class="container-fluid" ng-app="kabbageApp">
  <div class="row">
    <div class="col-md-6 wikipedia-col" ng-controller="wikipediaController">
      <h4 class="provider-name">Wikipedia</h4>
      <div class="list-group" ng-repeat="item in wikipediaFound.query.search">
        <div class="list-group-item">
          <h5 ng-bind="item.title"></h5>
          <p ng-show="item.snippet != null" ng-bind-html="item.snippet"></p>
          {% verbatim %}
          <p ng-show="item.pageid != null">
            <a href="https://en.wikipedia.org/?curid={{item.pageid}}">View in wikipedia</a>
          </p>
          {% endverbatim %}
        </div>
      </div>
      <div class="alert alert-warning" ng-show="!wikipediaFound.query.search.length" role="alert">
        No items to show.
      </div>
    </div>
    <div class="col-md-6 twitter-col" ng-controller="twitterController">
      <h4 class="provider-name">Twitter</h4>
      <div class="list-group" ng-repeat="item in twitterFound.statuses">
        <div href="#" class="list-group-item">
          <div class="row">
            <div class="col-md-10">
              <h5 ng-bind="item['text']"></h5>
            </div>
            <div class="col-md-2">
              {% verbatim %}
              <img ng-src="{{item.user.profile_image_url_https}}" />
              {% endverbatim %}
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-warning" ng-show="!twitterFound.statuses.length" role="alert">
        No items to show.
      </div>
    </div>
  </div>
</div>


{% endblock content %}
